@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
 

:root {
  /* Colors */
  --color-white: #ffffff;
  --color-black: #171717;
  --color-primary-1: #D4AF37;
  --color-primary-2: #D8CBA0;

  /* Fonts */
  --font-primary: 'Inter', sans-serif;
 
}


body {
  max-width: 100vw;
  /* overflow-x: hidden; */
  position: relative;
  background-color: black;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}




html,
body {
  padding: 0;
  margin: 0;
  font-optical-sizing: auto;
  font-style: normal;
  /* overflow-x: hidden; */
  font-family: var(--font-primary)

}

/* Links */
a {
  text-decoration: none;
  color: inherit;
  transition: all 0.3s ease;
  cursor: pointer;
}
 

/* Buttons */
button {
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  background: transparent;
  font: inherit;
}

button:focus {
  outline: none;
}

/* Inputs & Forms */
input,
textarea,
select {
  border: none;
  outline: none;
  font: inherit;
  background: transparent;
  width: 100%;
  font-size: 16px;
  display: block;
  transition: all 0.3s ease;
}

/* Images */
img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  transition: all 0.3s ease;
}

/* Lists */
ul,
li {
  list-style: none;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 20px;
  font-family: var(--font-primary)
}

p {
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  margin-bottom: 20px;
}